* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-es-ro.es-ro.dix -text
/apertium-es-ro.es-ro.t1x -text
/apertium-es-ro.es-ro.t2x -text
/apertium-es-ro.es-ro.t3x -text
/apertium-es-ro.es.acx -text
/apertium-es-ro.es.dix -text
/apertium-es-ro.es.tsx -text
/apertium-es-ro.post-es.dix -text
/apertium-es-ro.post-ro.dix -text
/apertium-es-ro.ro.acx -text
/apertium-es-ro.ro.dix -text
/apertium-es-ro.ro.tsx -text
/apertium-es-ro.trules-ro-es.xml -text
/autogen.sh -text
/configure.ac -text
/es-ro.prob -text svneol=unset#unset
/install-sh -text
/missing -text
/modes.xml -text
/regression-tests.sh -text
/ro-es.prob -text
