* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-es-ro.es-ro.dix -text
/apertium-es-ro.es-ro.t1x -text
/apertium-es-ro.es-ro.t2x -text
/apertium-es-ro.es-ro.t3x -text
/apertium-es-ro.es.acx -text
/apertium-es-ro.es.dix -text
/apertium-es-ro.es.tsx -text
/apertium-es-ro.post-es.dix -text
/apertium-es-ro.post-ro.dix -text
/apertium-es-ro.ro-es.t1x -text
/apertium-es-ro.ro.acx -text
/apertium-es-ro.ro.dix -text
/apertium-es-ro.ro.tsx -text
/autogen.sh -text
/configure.ac -text
/es-ro.prob -text svneol=unset#unset
/modes.xml -text
/papelera-de-reglas.txt -text
/regression-tests.sh -text
/ro-es-unsupervised.make -text
/ro-es.prob -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
